[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasterio = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
joblib = "*"
opencv-python = "*"
streamlit = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
